# Puerto externo de la aplicación
EXTERNAL_PORT=

# Configuración de la Base de Datos 
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# JWT Secret (al menos 32 caracteres)
JWT_SECRET=
JWT_EXPIRATION=

# Google OAuth
GOOGLE_CLIENT_ID=

# Configuración de Email (Gmail)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Node Environment
NODE_ENV=